*{
    margin: 0;
    padding: 0;
    font: 700 1.7rem 'Courier New' , sans-serif;

}

#titulo,
#versus {
    color: rgb(0, 0, 0);
    text-align: center;

}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#jogador,
#computador {
    position: relative;
    border-radius: 5px;
    width: 12.5rem;
    padding: 1.9rem;
    color: rgba(0, 0, 0, 0.511);
    flex-grow: 1;
}

#jogador {

    background-color: rgb(83, 153, 190);

}

#computador{

    background-color: rgb(188, 49, 49);
}

#jogadorNome {
    text-align: right;

}

#jogadorPontos,
#computadorPontos {
    position: absolute;
    top: 0.5rem;
    font-size: 1.8rem;
}

#jogadorPontos{
    right: 1.8rem;
}

ul#jogadorEscolha,
ul#computadorEscolha {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

ul#jogadorEscolha li,
ul#computadorEscolha li {
    display:inline;

}

ul#jogadorEscolha li a,
ul#computadorEscolha li a {
    opacity: 0.2;
}

ul#jogadorEscolha li a:hover,
ul#jogadorEscolha li a.selecionado,
ul#computadorEscolha li a.selecionado{
    opacity: 1;
}

ul#jogadorEscolha li a img,
ul#computadorEscolha li a img{
    width: 5rem;
    align-items: center;
}

#mensagem {
    background-color: rgb(156, 184, 184);
    font: 600 2rem 'Courier New', sans-serif;
    border-radius: 5px;
    margin: 2rem 1rem;
    padding: 1rem;
    text-align: center;
}