*{padding: 0%;/*define para o navegador, que o espaçamento a ser utilizado na pagina é igual a zero*/
    margin: 0%;/*define o valor 0 como margem para a pagina*/ 
    box-sizing: border-box;/*o espaçamento de padding contra para dentro da caixa*/ 
    font-family: Arial, Helvetica, sans-serif/*define o tipo de fonte que sera utilizada na pagina*/;
    }
    
    header{
        background-color: rgb(7, 218, 234);
    color: rgb(255, 255, 255);
    padding: 15px;/*espaço entre os textos e as margens*/
    text-align: center;
    justify-content: space-between;
    border-bottom: rgb(148, 237, 255) 3px solid; /*adiciona uma borda inferior com 3 pixels de espessura*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    /*Grid de produtos*/
    .container {
    background-color: #fffca2f7; /*muda a cor de fundo da sessao container*/
    min-height: 60vh;/*altura minima da seçao ser 60% da tela*/
    padding: 50px;/*espaçamento de 50px nas margens*/
    }
    
    .product-container{
    max-width: 1200px; /*largura maxima*/
    margin: 0 auto;/*margem 0 na altura e centralizar o centeudo horizontal*/
    
    }
    .card {
    width: 31%; /*largura do card em 31% do tamanho definido no product-comtainer*/
    display: inline-block; /*posiciona os cards em linhas*/
    }
    .product-image {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    }
    #img-1 {
        background-image:url(imagem/cd1.jfif) ;
    }
    
    #img-2 {
     background-image:url(imagem/cd2.jpg) 
    }
       
    #img-3 {
     background-image:url(imagem/cd3.png) 
    }
    #img-4 {
    background-image:url(imagem/cd4.webp) 
     }
     #img-5 {
    background-image:url(imagem/cd5.webp) 
    }
    
     #img-6 {
    background-image:url(imagem/cd6.webp) 
     }
     h3{ 
    margin-bottom: 10px; color: rgb(37, 219, 240); font-size: 24px;
     }
      .card p{
         margin-bottom: 10px;
     }
     .btn{ 
        display: block;/*exibir o conteúdo no formato de um bloco*/
    width: 100;/*ocupar 100% do espaço disponível no card*/
    text-transform: uppercase;/*exibe o texto em letras maiúscula*/
    text-decoration: none;/*Remove o sublinhado do texto*/
    background-color: rgb(90, 228, 255);/*Altera a cor de fundo do display block (botão)*/
    color: rgb(0, 0, 0);
    padding: 15px; /*espaçamento de 15px ao redor do display block*/
    margin-bottom: 10px;/*Adiciona uma margem abaixo do botão de 10px*/
    border-radius: 10px;/*arredonda os cantos do botão*/
     }
     .btn:hover{/*Altera o comportamento do botão quando o cursor do mouse estiver sobre ele*/
    background-color: aliceblue; 
    
     }
     footer {/*altera as configurações do rodapé*/
    background-color: rgb(91, 170, 240);/*altera a cor do fundo do rodapé*/
    text-align: center;/*Centraliza o texto do rodapé*/
    padding: 80px;/*Adiciona um espaçacamento ao redor do rodapé*/
    color: rgb(255, 255, 255);
     }