 *{
    box-sizing: border-box;
}
/*estilo do body*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.anotacao {
background-color: rgba(42, 114, 123, 0.63);
padding: 5px;
text-align: center;
color: aliceblue;
}

.cabecalho {
    padding: 60px;
    text-align: center;
    background-image: url(../imagem/desktopcapa.png);
    background-size: cover;
    color: rgba(255, 255, 255, 0.896);
}

/*estilo da barra de navagaçao*/
.barra_nav {
    display: flex;
    background-color: rgba(30, 107, 117, 0.63);
}

.barra_nav a {
color: rgb(247, 247, 247);
padding: 14px 10px;
text-decoration: none;
text-align: center;
}
/*trocar a cor do fundo quando o cursor estiver sobre o link*/
.barra_nav a:hover {
    background-color: rgba(255, 255, 255, 0.522);
    color: rgb(219, 198, 198);
}

.coluna {
    display: flex;
    flex-wrap: wrap;
}
/*configurar duas colunas desiguais 30 e 70%*/
.lateral{
    flex: 30%;
    background-color: rgb(151, 191, 194);
    padding: 20px;
}

.principal {
    flex: 70%;
    background-color: rgb(208, 134, 145);
    padding: 20px;
    height: 200px;

}
/*imagens falsas apenas para marcaçao*/
.imagem_falsa {
    background-color: rgb(231, 175, 185);
    width: 100%;
    padding: 20px;
    height: 200px;
}
.imagem_falsa2 {
    background-color: rgb(236, 157, 157);
    width: 100%;
    padding: 10px;
    height: 60px;
    margin-bottom: 10px;
}
.imagem_falsa3 {
    background-color: rgb(236, 157, 157);
    width: 100%;
    padding: 10px;
    height: 60px;
}

.rodape {
  max-height: fit-content;
  padding: 20px;
  text-align: center;
  background-color: rgb(230, 86, 105);
}

@media screen and (max-width: 500px) {
    .coluna, .barra_nav {
        flex-direction: column;
    }
    .cabecalho {  
     background-image: url(/imagem/mobilecapa.png);
     background-size: cover;
     color: aqua;
    }
}